/* div.game {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  aspect-ratio: 1;
  width: 500px;
  border: 5px solid black;
}

div.game > div.cell.dark {
  background-color: brown;
}

div.game > div.cell.selected {
  background-color: green;
}

div.game > div.cell.possible-move {
  background-color: rgba(0, 128, 0, 0.3);
}

div.game div.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}

div.cell.has-piece > div {
  border-radius: 50%;
  border: 3px solid black;
  width: 80%;
  aspect-ratio: 1/1;
  cursor: pointer;
}

div.cell.has-piece.White > div {
  background-color: beige;
}

div.cell.has-piece.Black > div {
  background-color: rgb(95, 78, 52);
}

div.cell.has-piece.King > div {
  border: 6px double black;
}

div#message {
  width: 500px;
  font-size: 1.5rem;
}

header,
footer {
  margin: 20px 0;
  width: 500px;
  text-align: center;
  background-color: beige;
}

#reset {
  font-size: 1.5rem;
  border: 5px solid orange;
  border-radius: 10%;
  background-color: rgba(255, 165, 0, 0.5);
  cursor: pointer;
}

footer,
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: system-ui, -apple-system, sans-serif;
  padding: 10px;
}

header,
footer {
  width: 100%;
  max-width: 70vh;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
  text-align: center;
  padding: 10px;
}

header h1 {
  font-size: clamp(1rem, 3vh, 2rem);
  margin-bottom: 5px;
}

div#message {
  font-size: clamp(0.75rem, 2vh, 1.25rem);
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.game {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 70vh;
  height: 70vh;
  border: 5px solid black;
}

div.game > div.cell.dark {
  background-color: brown;
}

div.game > div.cell.selected {
  background-color: green;
}

div.game > div.cell.possible-move {
  background-color: rgba(0, 128, 0, 0.3);
}

div.game div.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.cell.has-piece > div {
  border-radius: 50%;
  border: 3px solid black;
  width: 80%;
  aspect-ratio: 1/1;
  cursor: pointer;
}

div.cell.has-piece.White > div {
  background-color: beige;
}

div.cell.has-piece.Black > div {
  background-color: rgb(95, 78, 52);
}

div.cell.has-piece.King > div {
  border: 6px double black;
}

#reset {
  font-size: clamp(0.75rem, 2vh, 1.25rem);
  padding: 8px 16px;
  border: 3px solid orange;
  border-radius: 10px;
  background-color: rgba(255, 165, 0, 0.5);
  cursor: pointer;
}

#reset:hover {
  background-color: rgba(255, 165, 0, 0.7);
}

#reset:active {
  background-color: rgba(255, 165, 0, 0.9);
}

/* Mobile adjustments */
@media (max-width: 600px) or (max-height: 600px) {
  div.game {
    border-width: 3px;
  }

  div.cell.has-piece > div {
    border-width: 2px;
  }

  div.cell.has-piece.King > div {
    border-width: 4px;
  }

  #reset {
    border-width: 2px;
  }
}
