div.game {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  aspect-ratio: 1;
  width: 500px;
  border: 5px solid black;
}

div.game > div.cell.dark {
  background-color: brown;
}

div.game > div.cell.selected {
  background-color: green;
}

div.game > div.cell.possible-move {
  background-color: rgba(0, 128, 0, 0.3);
}

div.game div.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}

div.cell.has-piece > div {
  border-radius: 50%;
  border: 3px solid black;
  width: 80%;
  aspect-ratio: 1/1;
  cursor: pointer;
}

div.cell.has-piece.White > div {
  background-color: beige;
}

div.cell.has-piece.Black > div {
  background-color: rgb(95, 78, 52);
}

div.cell.has-piece.King > div {
  border: 6px double black;
}

div#message {
  width: 500px;
  font-size: 1.5rem;
}

header,
footer {
  margin: 20px 0;
  width: 500px;
  text-align: center;
  background-color: beige;
}

#reset {
  font-size: 1.5rem;
  border: 5px solid orange;
  border-radius: 10%;
  background-color: rgba(255, 165, 0, 0.5); /*rgba(187, 141, 73, 0.5);*/
  cursor: pointer;
}

footer,
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
